
#navbarBox {
    background-color: rgba(16, 24, 31, 0.68);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    box-sizing:border-box;
    padding: 10px 30px 10px 30px;
    overflow: hidden;
}

.navItemsBox {
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-size: large;
}

.navItemsBox > a {
    color: white;
    text-decoration: none;
    font-size: middle;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
}

.activeLink {
    background-color: rgba(255, 255, 255, 0.15);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
